* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-color: rgb(255, 255, 244);
}

#headerDiv {
    background-color: rgb(248, 240, 226);
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

#ptitle {
    font-family: 'Zeyada', cursive;
    font-size: 20px;
    color: rgb(187, 158, 105);
}

a h1 {
    font-family: 'Zeyada', cursive;
    font-size: 30px;
    color: rgb(187, 158, 105);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(187, 158, 105);
}


.i {
    font-size: 25px;
    font-family: 'Zeyada', cursive;
}

#cartCounter {
    font-size: 20px;
    font-family: 'Zeyada', cursive;
}

#headerCounter {
    display: flex;
    align-items: center;

}

#purchase {
    font-family: 'Zeyada', cursive;
    font-size: 50px;
    color: rgb(187, 158, 105);
    display: flex;
    justify-content: center;
}


#cartCardDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.card {
    background: rgb(248, 240, 226);
    transition: 0.3s;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 120px;
    max-height: 300px;
    justify-content: space-around;
    color: rgb(187, 158, 105);
}

.container {
    padding: 2px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

button {
    background-color: rgb(187, 158, 105);
    border: none;
    padding: 4px 30px;
    font-size: 13px;
    color: rgb(248, 240, 226);
}


#checkoutDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

#emptyCart {
    background: rgb(248, 240, 226);
    transition: 0.3s;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    font-family: 'Zeyada', cursive;
    font-size: 2em;
    color: rgb(187, 158, 105);

}

#totalPriceDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 2em;
    margin-bottom: 1em;
    background-color:  rgb(143, 109, 46);
    color: rgb(248, 240, 226);
}